* {
	font-family: Calibri, Verdana;
}

h1 {
	text-align: center;

}

#personal-links {
	float: right;
	border: 1px solid black;
	position: fixed;
}

#projects {
	float: right;
	border: 1px solid black;
	position: fixed;
}

#updates {
	float: left;
	border: 1px solid black;
	position: fixed;
}

.update-date {

}

.update-info {

}